.card_box{
position: relative;
}
.product_cls_btn{
position: absolute;
right: 2px;
top: 2px;
font-size: small;
border: none;
background: lightgray;
padding: 5px 9px;
border-radius: 20px;
}

.product_cls_btn:hover{
    background-color: red;
}
.basket_icon{
    position: relative;
}
.cartCount{
    position:absolute;
    padding: 0px;
    margin: 0px;
    top: -14px;
    left: 10px;
}
.cartCountPara{
    padding:0px 6px;
    background-color: lightcoral;
    border-radius: 25px;
}
.cart_icon_btn > svg{
    z-index: +1;
}